.job-item-container {
  list-style: none;
  background-color: #272727;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
  font-family: 'Roboto';
  color: #ffffff;
}

.job-empty-container {
  display: none;
}

.img-title-container {
  display: flex;
  align-items: center;
  margin-top: 0px;
}

.title-rating-container {
  margin-bottom: 0px;
}

.company-heading {
  font-size: 30px;
  margin-bottom: 11px;
  margin-top: 0px;
}

.title-heading {
  color: #ffffff;
  margin-top: 0px;
  margin-left: 5px;
  margin-bottom: 0px;
}

.contact-container {
  display: flex;
  margin-top: 0px;
}

.contact-icon {
  color: #59c738;
  font-size: 20px;
  margin-left: 5px;
}

.lpa {
  width: 100px;
}

.rating-text {
  color: #ffffff;
  font-weight: bold;
  margin-top: 0px;
  margin-left: 5px;
}

.location-package-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

.location-job-type-container {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.location-icon-container {
  display: flex;
}

.location-icon {
  color: #ffffff;
  font-size: 20px;
}

.location {
  margin-top: 0px;
  margin-bottom: 0px;
}

.job-type {
  margin-top: 0px;
}

.package {
  margin-top: 0px;
}

.link-item {
  text-decoration: none;
}

.description-para {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .job-item-container {
    width: 94%;
    margin-left: 0px;
    padding-right: 20px;
  }

  .title-heading {
    font-size: 25px;
  }

  .company-heading {
    font-size: 21px;
  }

  .location-package-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 15px;
  }

  .location-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
  }

  .package {
    width: 60px;
  }

  .description-para {
    width: 70%;
  }

  .lpa {
    width: 40px;
  }

  .job-type {
    font-size: 15px;
    width: 100px;
    margin-right: 20px;
  }
}
